:root{

    --grass:#39b54a;

    --road:#555555;

    --road-dark:#3b3b3b;

    --red:#ff2d2d;

    --yellow:#ffd93b;

    --blue:#46b8ff;

    --green:#2cff2c;

    --white:#ffffff;

    --black:#111111;

    --hud:#242424;

    --panel:#3a3a3a;

    --shadow:#000000;

    --pixel:2px;

}